th, td {    
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}            
thead{
  background-color: #246355;
  border-bottom: solid 1px #0F362D;
  color: white;
}
.coti{
  border-collapse: collapse;
  text-align: right;
  margin-left: 600px;
}
.p{
  font-size:13px;
  margin: auto;
  float: left;
  margin-left: 5px;
  text-align: left;
  width: 400px;
}
.cuadro{
  border: 1px solid black;
  width: 180px;
  height: 20px;
  text-align: center;
  background-color: #246355;
  color: white;
}
.cuadro_1{
  border: 1px solid black;
  width: 180px;
  height: 20px;
  text-align: center;
}
.cuadro2{
  border: 1px solid black;
  width: 220px;
  margin-left: 230px;
  position: fixed;
  height: 20px;
  margin-top: 120px;
  text-align: center;
  background-color: #246355;
  color: white;
}
.cuadro3{
  border: 1px solid black;
  width: 220px;
  margin-left: 230px;
  position: fixed;
  height: 20px;
  margin-top: 140px;
  text-align: center;

}
.cuadro4{
  border: 1px solid black;
  width: 220px;
  margin-left: 480px;
  position: fixed;
  height: 20px;
  text-align: center;
  margin-top: 120px;
  background-color: #246355;
  color: white;
}
.cuadro5{
  border: 1px solid black;
  width: 220px;
  margin-left: 480px;
  position: fixed;
  height: 20px;
  margin-top: 140px;
  text-align: center;
}
.cuadro6{
  border: 1px solid black;
  width: 700px;
  text-align: center;
  background-color: #246355;
  color: white;
}
.cuadro6_1{
  border: 1px solid black;
  width: 700px;
  text-align: center;
}
.cuadro7{
  border: 1px solid black;
  width: 100px;
  text-align: center;
  top: 22%;
  position: fixed;
  height: 20px;
  background-color: #246355;
  color: white;
}
.cuadro8{
  border: 1px solid black;
  width: 100px;
  text-align: center;
  top: 24%;
  position: fixed;
  height: 20px;
}
.cuadro9{
  border: 1px solid black;
  width: 110px;
  margin-left: 130px;
  height: 20px;
  top: 22%;
  text-align: center;
  position: fixed;
  background-color: #246355;
  color: white;
}
.cuadro10{
  border: 1px solid black;
  width: 110px;
  margin-left: 130px;
  height: 20px;
  top: 24%;
  text-align: center;
  position: fixed;
}
.cuadro11{
  border: 1px solid black;
  width: 110px;
  margin-left: 270px;
  height: 20px;
  top: 22%;
  text-align: center;
  position: fixed;
  background-color: #246355;
  color: white;
}
.cuadro12{
  border: 1px solid black;
  width: 110px;
  margin-left: 270px;
  height: 20px;
  top: 24%;
  text-align: center;
  position: fixed;
}
.cuadro13{
  border: 1px solid black;
  width: 110px;
  margin-left: 410px;
  height: 20px;
  top: 22%;
  text-align: center;
  position: fixed;
  background-color: #246355;
  color: white;
}
.cuadro14{
  border: 1px solid black;
  width: 110px;
  margin-left: 410px;
  height: 20px;
  top: 24%;
  text-align: center;
  position: fixed;
}
.cuadro15{
  border: 1px solid black;
  width: 150px;
  margin-left: 550px;
  height: 20px;
  top: 22%;
  text-align: center;
  position: fixed;
  background-color: #246355;
  color: white;
}
.cuadro16{
  border: 1px solid black;
  width: 150px;
  margin-left: 550px;
  height: 20px;
  top: 24%;
  text-align: center;
  position: fixed;
}
.producto{
  border: 1px solid black;
  height: 300px;
}
.condiciones{
  border: 1px solid black;
  height: 210px;
}
.pie_de_pagina{
  border: 1px solid black;
  height: 120px;
}